
@font-face {
	font-family: 'bebasneue';
	src: url('fonts/bebas-neue/BebasNeue-Regular.ttf') format('truetype');}

@font-face {
	font-family: 'montserrat';
	src: url('fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'truelies';
	src: url('fonts/true-lies/TrueLies.ttf') format('truetype');
}

:root{
	--red:  #EF476F;
	--purple:  #6A56B3;
	--green:  #06D6A0;
	--blue: #118AB2;
	--white:  #F0FFFF;
	--transparentWhite: rgba(240, 255, 255, 0.7);
	--transparentWhite_1: rgba(240, 255, 255, 0.9);
}

body, html{
	overflow-x: hidden;
}


/* body */
body{
	background-image: url('../img/bg.jpg');
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
	background-size: cover;
}

body::-webkit-scrollbar {
  width: 10pt;
}

body::-webkit-scrollbar-thumb {
  background: rgba(237, 107, 150, 0.25);
}

body::-webkit-scrollbar-track {
  width: 10pt;
  background: rgba(237, 107, 150, 0.25);
}

/* container */
.container{
	text-align: center !important;
	justify-content: center !important;
	/* width: 100%; */
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;

 	/* padding-right:0 !important;
     padding-left:0 !important;
     margin-right:auto !important;
     margin-left:auto !important; */

	 width: 100%;
	 max-width: 100%;
	 background-color: rgba(0, 0, 0, 0.5);

	 /* background-color: rgba(117, 19, 93, 0.9); */
}

/* .cart{
	background-image: url('../img/bg_4.jpg');
} */

/* .nopadding_cart {
   padding: 0 !important;
   margin: 0 !important;

 	/* padding-right:0 !important;
     padding-left:0 !important;
     margin-right:auto !important;
     margin-left:auto !important; */

	 /* width: 100%;
	 max-width: 100%; */
	 /* background-color: rgba(0, 0, 0, 0.5); */

	 /* background-color: rgba(117, 19, 93, 0.9); */
/* } */

/* Navigation */

/* FOR CANVAS AND TEXT IN LOGO in Navigation*/
.image{
	position: relative;
	text-align: center;
}

.logo-center{
	position: absolute;
	top: 37%;
	left: 50%;
	transform: translate(-45%, -50%);
}

#logo{
	opacity: 50%;
}

.nav-link{
	font-family: 'montserrat', sans-serif;
	color: var(--white);
	font-size: 12pt;
	border-bottom: 3px solid transparent;
}

.nav-link:hover{
	color: white;

	border-bottom: 3px solid var(--green);
}

#Radiators{
	font-family: 'truelies', sans-serif;
	color: var(--white);
	font-size: 24pt;
}

/* vertical navigation */
.wrapper{
	position: fixed;
	margin: 0 auto;
	padding: 50px 0;
	clear: both;
	top: 30%;
	/* left: -11%; */
  /* transform: translatex(-11%); */
	/* display: none; */
	/* border-right: 3px solid var(--green); */
	/* color: white !important; */
	visibility: hidden;
	transition: 300ms;
	left: 280px;

}

/* .wrapper:hover{
	position: fixed;
	margin: 0 auto;
	padding: 50px 0;
	clear: both;
	top: 30%;
	left: 0%;
	border-right: none;
} */

.menu-area{
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu-area li{
	position: relative;
}

.menu-area li a{
	text-align: left;
	height: 36px;
	position: relative;
	/* border-bottom: 1px solid #ddd; */
	display: block;
	text-decoration: none;
	padding: 12px 20;
	color: white;
}

.menu-area li a strong{
	display: block;
	text-transform: uppercase;
	/* font-family: ; */
	font-size: 20px;
	letter-spacing: 3px;
	padding-left: 20px;
}

.menu-area li:hover > a{
	/* border-bottom: 3px solid var(--green); */
	color: var(--green);
}

/* Animation for vertical navigation */
.slide-right {
	-webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
}


/* hover for logo */
#Radiators:hover{
	color: var(--green);
}



/* section_1 */
#section_1{
	height: 87vh;
	font-family: 'truelies', sans-serif;
}

.welcome-text{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.heading-primary{
	color: white;
	text-transform: uppercase;
}

.heading-main{
	display: block;
	font-size: 60px;
	font-weight: 400;

	animation-name: inFromLeft;
	animation-duration: 1s;
}

.heading-main-second{
	display: block;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 15px;
	text-align: center;

	animation-name: inFromRight;
	animation-duration: 1s;
}

@keyframes inFromLeft {
	0%{
		opacity: 0;
		transform: translateX(-100px);
	}

	80%{
		transform: translateX(10px);
	}

	100%{
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes inFromRight {
	0%{
		opacity: 0;
		transform: translateX(100px);
	}

	80%{
		transform: translateX(-10px);
	}

	100%{
		opacity: 1;
		transform: translate(0);
	}
}

/*  */
.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}

#section_scroll_1 a {
  padding-top: 60px;
}
#section_scroll_1 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}
#section_scroll_1 a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
#section_scroll_1 a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255,255,255,.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  box-sizing: border-box;
}
#section_scroll_1_about a {
  padding-top: 25px;
}
#section_scroll_1_about a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}
#section_scroll_1_about a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
#section_scroll_1_about a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255,255,255,.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* #section_scroll_2 a {
  padding-top: 60px;
}
#section_scroll_2 a span {
  position: relative;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
} */


/* #section_scroll_3 a {
  padding-top: 60px;
}
#section_scroll_3 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
} */

/* scroll button */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 30px;
  border: none;
  outline: none;
  background-color: #555;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: var(--green);
}

/* all fontawesome classes */
.fa-user-circle{
	font-size: 25pt;
}

#content-header{
	font-family: 'bebasneue', sans-serif;
	color: var(--white);
	font-size: 30pt;
}

.card{
	background-color: var(--transparentWhite);
	font-family: 'bebasneue', sans-serif;
	color: black;
	height:  210pt;
}

figcaption{
	font-size: 18pt;
}

.fl-Right{
	text-align: right;
	padding-left: 40%;
}

h1{
	text-align: center;
	color: white;
}

.head{
	height: 85vh;
}

.carousel-item img{
	width: auto;
	height: 750px;
	padding-left: 0px;
	padding-right: 0px;
}

/* factorized */
.section_3_heading-primary, .section_4_heading-primary, .section_5_heading-primary, .section_6_heading-primary{
	font-family: 'truelies', sans-serif;
}

.change-colors{
	color: white;
	font-family: 'bebasneue', sans-serif;
	letter-spacing: 1px;
}

.change-colors:hover{
	color: black;
}

.view{
	/* border-color: solid 1px white !important; */
}



/* section_2 */
#section_2{
	height: 1050px;
	background-image: linear-gradient(to bottom, rgba(117, 19, 93), rgba(128,128,128));
	color: black;
}

#section_2_about_page{
	height: 1050px;
	color: black;
}

.meetTheTeam{
	/* height: 1050px; */
	background-image: linear-gradient(to bottom, rgba(117, 19, 93), rgba(128,128,128));
}

.section_2_heading-main{
	font-family: 'truelies', sans-serif;
	color: White;

	display: block;
	font-size: 60px;
	font-weight: 400;

	padding-top: 50px;
	padding-bottom: 50px;
}

.section_2_heading-main-animate{
	font-family: 'truelies', sans-serif;
	color: White;

	display: block;
	font-size: 60px;
	font-weight: 400;

	/* animation-name: inFromBottom;
	animation-duration: 3s; */

	padding-top: 50px;
}

.about-div{
		top: 0;
		left: 0;
		z-index: 10;
		background-color: var(--transparentWhite_1);
		padding: 20px;
		width: 80%;

		box-shadow: 5px 10px 8px #888888;
}

.about-us, .rel{
	color: black;
	text-decoration: none;
	text-align: left;
}

.view_more:hover{
	/* align-items: flex-end; */
	text-decoration: none;
}

.rel{
	position: relative;
}

.abs{
	position: absolute;
	top: 80;
	left: 50;
	z-index: 10;
	margin-top: 180px;
	margin-left: 400px;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  overflow: overlay;
}

@keyframes inFromBottom {
	0%{
		opacity: 0;
		transform: translateY(100px);
	}

	80%{
		transform: translateY(-10px);
	}

	100%{
		opacity: 1;
		transform: translate(0);
	}
}

/* section_4 */
#section_4{
	padding-top: 50px;
	padding-bottom: 50px;
	height: 730px;
}

.btn{
	background-color: grey;
	/* border-width: 0; */
	border-color: solid 1px white;
}

.btn:hover{
	background-color: var(--green);
}

.the_decks{
	padding-top: 50px;
}

.card-img-top{
	width:50px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 10px;
}

.section_4_heading-primary{
	padding-top: 30px;
	padding-bottom: 30px;
	color: white;
	text-transform: uppercase;
}

.col-sm-3{
	/* max-width: 18rem; */
	max-height: 280px;
}

.card-text{
	color: black;
}

.card-deck{
	margin: auto;
	justify-content: center;
	height: 100px;
}

.section_4_heading-primary-animate{
	padding-top: 30px;
	padding-bottom: 30px;
	color: white;
	text-transform: uppercase;

	/* animation-name: inFromBottom;
	animation-duration: 3s; */
}

.section_4_heading-main{
	display: block;
	font-size: 60px;
	font-weight: 400;
}

.section_4_heading-main-second{
	display: block;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	letter-spacing: 9px;
}

/* section_3 */
#section_3{
	height: 830px;

	background-image: linear-gradient(to bottom, rgba(117, 19, 93, 0.96), rgba(128,128,128, 0.9)), url('../img/Services/pexels-tranmautritam-251225.jpg');

	background-repeat: no-repeat;

  background-position: center;
	background-size: cover;
}

.section_3_heading-primary{
	padding-top: 40px;
	padding-bottom: 30px;
	color: White;
	text-transform: uppercase;
}

.section_3_heading-primary-animate{
	padding-top: 50px;
	padding-bottom: 50px;
	color: White;
	text-transform: uppercase;

	/* animation-name: inFromBottom;
	animation-duration: 3s; */
}

.section_3_heading-main{
	display: block;
	font-size: 60px;
	font-weight: 400;
}

.section_3_heading-main-second{
	display: block;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	letter-spacing: 5px;
}

#content{
	text-align:center;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 500px;
}

.carousel-inner{
	margin: auto;
}

.carousel-indicators {
  bottom:-30px;
}

.col-sm-12{
	padding: 0px;
	margin: 0px;
}

#blocks{
	height: 500px;
	width: 1100px;
	color: black;
	background-color: var(--transparentWhite);
	margin: 15px;
	float: left;
	border-radius: 10px;
}

.first-block{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#_1
{
	position: relative;
	float: left;
	height: 500px;
	width: 80%;
	background-color: white;
	border-radius: 10px;

}

.padding-0{
    /* padding-right:0; */
    transform: translate(10%);
}

img.selfrespect{
	width: 30%;
	height: auto;
	/* margin: 15px; */
}

p{
	font-family:montserrat ;
	margin: 10px;
	color: white;
}

.desc{
	font-family:montserrat ;
	margin: 10px;
	color: black;
}

#second_block{
	float: left;
	height: 100%;
	width: 25%;
	margin-left: 10px;
}

#sec_1{
	height: 49.2%;
	background-color: white;
	border-radius: 10px;
	margin: 10px;

	text-align:center;
	display: flex;
	justify-content: center;
	align-items: center;
}

#sec_2{
	height: 45%;
	background-color: white;
	border-radius: 10px;
	margin: 10px;

	text-align:center;
	display: flex;
	justify-content: center;
	align-items: center;
}

#third_block{
	text-align:center;
	display: flex;
	justify-content: center;
	align-items: center;

	padding-top: 25%;
}

/* Section_5 */
#section_5{
	height: 820px;
	background-repeat: no-repeat;
  background-position: center;
	background-size: cover;
}

.section_5_heading-primary{
	padding-top: 50px;
	padding-bottom: 50px;
	color: White;
	text-transform: uppercase;
}

.section_5_heading-primary-animate{
	padding-top: 40px;
	padding-bottom: 30px;
	color: White;
	text-transform: uppercase;

	/* animation-name: inFromBottom;
	animation-duration: 3s; */
}

.section_5_heading-main{
	display: block;
	font-size: 60px;
	font-weight: 400;
}

.section_5_heading-main-second{
	display: block;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	letter-spacing: 5px;
}

.merch{
	bottom: -50px;
}

.merch-cards{
	height: 460px;
}

/* Section_6 */
#section_6{
	height: 850px;
	background-image: linear-gradient(to bottom, rgba(117, 19, 93, 0.96), rgba(128,128,128, 0.9)), url('../img/Services/pexels-tranmautritam-251225.jpg');
	background-repeat: no-repeat;
  background-position: center;
	background-size: cover;
}

#section_6_contus{
	height: 100vh;
	/* background-image: linear-gradient(to bottom, rgba(117, 19, 93, 0.96), rgba(128,128,128, 0.9)), url('../img/Services/pexels-tranmautritam-251225.jpg'); */
	background-repeat: no-repeat;
  background-position: center;
	background-size: cover;
}

.section_6_heading-primary{
	padding-top: 70px;
	padding-bottom: 30px;
	color: White;
	text-transform: uppercase;
}

.section_6_heading-primary-animate{
	padding-top: 40px;
	padding-bottom: 50px;
	color: White;
	text-transform: uppercase;

	/* animation-name: inFromBottom;
	animation-duration: 3s; */
}

.section_6_heading-main{
	display: block;
	font-size: 60px;
	font-weight: 400;
}

.section_6_heading-main-second{
	display: block;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	letter-spacing: 5px;
}

.form-group{

	text-align: left;
}

form{
	width: 50%;
	margin: auto;
	color: white;
}

/* Merchandise Page */
/* @font-face {
  font-family: trueLies;
  src: url(TrueLies.ttf);
}
@font-face {
  font-family: montserrat;
  src: url(Montserrat-Regular.ttf);
} */
/*----------------------------------NAV STYLING--------------------------------*/
image{
    position: relative;
    text-align: center;
}

.logo-center{
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-45%, -50%);
}

#logo{
    opacity: 50%;
}

.nav-link{
    font-family: 'montserrat', sans-serif;
    color: #f0ffff;
    font-size: 12pt;
    border-bottom: 3px solid transparent;
}

.nav-link:hover{
    color: white;
    border-bottom: 3px solid #06D6A0;
}

#Radiators{
    font-family: 'truelies', sans-serif;
    color: #f0ffff;
    font-size: 24pt;
}
/*----------------------------------MERCH STYLING--------------------------------*/
/*.nav{
  background-color: black;
  color: #f0ffff;
  height: 70px;
}*/
/* .container{
  margin: 0px;
  padding: 0px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
} */
.listingContainer{
  margin: 15px;
  background-color: rgba(240, 255, 255, 0.7);
  display: inline-block;
  width: 30%;
  color: white;
  border-radius: 5px;
  text-align: center;
}
.listingContainer:hover{
  box-shadow: ;
}
.imageContainer{
  padding-top: 35px;
}
.productImage{
  border-radius: 5px;
  height: 300px;
  width: 260px;
  margin: 10px;
  border: 2px solid black;
}
.infoContainer{
  margin-left: 40px;
}
.desc{
  font-family: montserrat;
  color: black;
  text-align: left;
	padding-left: 0;
	/* padding: 0; */
	margin-left: 0;
}
.productName{
  font-family: trueLies;
  letter-spacing: 2px;
  color: black;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 2px solid #06D6A0;
  border-top: 2px solid #06D6A0;
  margin-right: 45px;
}
.price{
  font-family: montserrat;
  letter-spacing: 2px;
  color: black;
  text-align: center;
  color:black ;
}
.buttonContainer{
  padding-bottom: 20px;
  margin-top: 20px;
}
.ATC{
  /* font-family: montserrat;
  border-style: none;
  border-radius: 5px !important;
  color: #f0ffff;
  background-color:grey;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
  transition: 0.2s; */
}
.ATC:hover{
  /* color:black ;
  background-color: #06D6A0;
  transition: 0.2s; */
}
.cart i{
  padding: 10px;
  text-align: center;
}
.cart{
  margin-top: 10px;
  position: fixed;
  right: 30px;
	top: 400px;
  border-style: none;
  background-color: grey;
  border-radius: 20px;
  color: #f0ffff;
}
.cart:hover{
  background-color:#06D6A0 ;
  color: black;
}
span{
  padding-right: 5px;
}
.desc{
  margin-right: 10px;
}

/*----------------------------------CHECKOUT PAGE STYLING--------------------------------*/
.heading {
  margin: 15px;
  font-family: trueLies;
  color: #f0ffff;
  font-size: 50px;
  text-align: center;
}

.products-container{
  max-width:900px;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 20px;
  background-color: rgba(240, 255, 255, 0.7);
  border-radius: 5px;
}
.products-header{
  font-family: montserrat;
  width: 100%;
  max-width: 900px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 2px solid #06D6A0;
  margin: 0 auto;
  padding-top: 10px;
  padding-left: 10px;
}
.product-title{
  width: 45%;
}
.price{
  width: 15%;
  display: flex;
  align-items: center;
}
.quantity{
  width: 30%;
  display: flex;
  align-items: center;
}
.total{
  width: 10%;
  display: flex;
  align-items: center;
}
.product{
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  border-bottom: 2px solid #06D6A0;
}
.product i{
  color: #EF476f;
}
.products{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;

}
.products img{
  width: 75px;
  border-radius: 5px;
  position: relative;
  left: 20px;
}
.basketTotalTitle {
  width: 30%;
}
.basketTotalContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-top: 10px 0;
}
.basketTotal{
  width: 10%;
  margin-right: 10px;
}

.products .price,.products .quantity,.products .total{
  border-bottom: 2px solid #06D6A0;
}
.checkoutContainer{
  text-align: center;
  margin-bottom: 100px;
}
.checkoutLINK{
  text-decoration: none;
}
.checkoutBTN{
  /* border-style: none;
  background-color: grey;
  color: #f0ffff;
  padding: 7px;
  border-radius: 5px;
  font-family: montserrat; */
}
.checkoutBTN:hover{
  /* background-color: #06D6A0;
  color:black; */
}

.parent{
	height: 100vh;
}

.child{
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading {
  margin: 15px;
  font-family: trueLies;
  color: #f0ffff;
  font-size: 50px;
  text-align: center;
}

.main{
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align:center;

}

.block{
    width: 25%;
    float: left;
    background-color: white;
    margin: 5px;
    height: 550px;
    border-radius: 5px;
    opacity: .80;

}
img.pico{
    max-width: 90%;
    height: auto;
     display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    padding: 20px;
}
p{
    padding: 2px;
    margin: 10px;
}

.header{
	padding-top: 50px;
	padding-bottom: 50px;
}

.link{
    color: black;
    text-decoration: none;
}

.link:hover{
    color: #06D6A0;
    text-decoration: none;
}
