@font-face {
	font-family: 'Opificio';
	src: url('fonts/opificio-regular.ttf') format('truetype');}

@font-face {
    font-family: 'MonserratReg';
    src: url('fonts/Montserrat-Regular.ttf') format('truetype');}



:root{
    --main: #cc0268;
}

body {
    background-image: url("../media/day.png");
    /* background-color: #cc0268; */
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    overflow: overlay;
}

.overlay{
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    z-index: -1000;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.60);
}

/* body {
    background-color: #cc0268;

} */

body::-webkit-scrollbar {
    width: 10pt;
  }
  
body::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
}
  


.header-div{
    margin-top: 50px;
}

.heading{
    font-family: 'Opificio';
    /* font-weight: bold; */
    font-size: 72px;
    color: white;
}
.subheading{
    margin-top: -30px;
    font-family: 'Opificio';
    font-size: 20px;
    color: white;
}

.text{
    font-family: 'MonserratReg';
}

#video{
    width: 1300px;
    /* border: 7px solid white; */
}

#video-div{
    padding-top: 50px;
    margin: 5px auto;
    width: 1300px;
}

#album-art{
    /* border: 7px solid white;     */
    padding: 0px; 
    width: 500px;
    transition: transform 0.2s;
    /* display: inline-block; */
}

#album-art:hover{
    /* opacity: 40%; */
    transform: scale(1.02);
	transition: transform 0.2s;
}

.album-text{
    background-color: rgb(255, 255, 255);
    margin-top: 200px;
    /* height: 210px; */
    padding: 55px;
    width: 550px;
    margin-left: -20px;
    margin-right: 0;
    display: inline-block;
    
    
}

.caption{
    /* text-decoration: none; */
    color: white;
    position: absolute;
    margin-left: 450px;
}

/* 
.caption:hover{
    text-decoration: none;
    color: black;
} */

figure{
    display: inline-block;
}

#footer{
    height: 200px;
}
#space{
    width: 800px;
    margin: auto;
    height: 10px;
    /* background-color: red; */
    /* margin-top: 200px; */
    margin-bottom: 130px;
    /* border-bottom: 2px solid white; */

    
}

.lyric-heading{
    font-family: 'Opificio';
    font-size: 25px;
    color: white;
}

