@font-face {
	font-family: '28days';
	src: url('fonts/28\ Days\ Later.ttf') format('truetype');}

@font-face {
    font-family: 'MonserratReg';
    src: url('fonts/Montserrat-Regular.ttf') format('truetype');}



:root{
    --main: #cc0268;
}

body {
    background-color: #141414;

}

.overlay{
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    z-index: -1000;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.60);
}

/* body {
    background-color: #cc0268;

} */

body::-webkit-scrollbar {
    width: 10pt;
  }
  
body::-webkit-scrollbar-thumb {
    background: #61251d;
}
  


.header-div{
    margin-top: 50px;
}

.heading{
    font-family: '28days';
    /* font-weight: bold; */
    font-size: 100px;
    color: #61251d;
    margin-top: -20px;
}

.vid-heading, .subheading{
    font-family: 'MonserratReg';
    color: rgba(240,255,255,0.7);
}

.vid-heading{    
    font-size: 30px;
    margin-top: -50px;
    
}

.subheading{
    margin-top: -10px;
    font-size: 20px;
}



#video{
    width: 1300px;
    border: 4px solid #61251d;
}

#video-div{
    margin: 5px auto;
    margin-top: 50px;
    /* padding:5px 5px 5px 5px; */
    width: 1300px;
    background-color: #61251d;
}


#footer{
    height: 200px;
}
#space{
    width: 800px;
    margin: auto;
    height: 10px;
    /* background-color: red; */
    /* margin-top: 200px; */
    margin-bottom: 130px;
    /* border-bottom: 2px solid white; */

    
}




/* 
.text{
    font-family: 'MonserratReg';
}

#album-art{
    padding: 0px; 
    width: 500px;
    transition: transform 0.2s;
}

#album-art:hover{
    transform: scale(1.02);
	transition: transform 0.2s;
}

.album-text{
    background-color: rgb(255, 255, 255);
    margin-top: 200px;
    padding: 55px;
    width: 550px;
    margin-left: -20px;
    margin-right: 0;
    display: inline-block;
    
    
}

.caption{
    color: white;
    position: absolute;
    margin-left: 450px;
}



figure{
    display: inline-block;
} */


